<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Illiquid</string>
	<key>CFBundleExecutable</key>
	<string>Illiquid</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.jagalite.illiquid</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Illiquid</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Illiquid contributors. Licensed under GNU GPL version 3 or later.</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>PlatinumBuildArchitectures</key>
	<array>
		<string>arm64</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
				<string>avi</string>
				<string>flv</string>
				<string>m2ts</string>
				<string>m4v</string>
				<string>mkv</string>
				<string>mov</string>
				<string>mp4</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mts</string>
				<string>ogm</string>
				<string>ogv</string>
				<string>ts</string>
				<string>vob</string>
				<string>webm</string>
				<string>wmv</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.avi</string>
				<string>public.mpeg</string>
				<string>io.github.jagalite.illiquid.video-container</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Illiquid-supported video container</string>
			<key>UTTypeIdentifier</key>
			<string>io.github.jagalite.illiquid.video-container</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3gp</string>
					<string>flv</string>
					<string>m2ts</string>
					<string>mkv</string>
					<string>mts</string>
					<string>ogm</string>
					<string>ogv</string>
					<string>ts</string>
					<string>vob</string>
					<string>webm</string>
					<string>wmv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/3gpp</string>
					<string>video/mp2t</string>
					<string>video/webm</string>
					<string>video/x-flv</string>
					<string>video/x-matroska</string>
					<string>video/x-ms-wmv</string>
					<string>video/ogg</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
